fastapi
uvicorn[standard]
sqlalchemy
psycopg[binary]
python-dotenv
python-jose[cryptography]
passlib[bcrypt]
pydantic
pydantic[email]
qdrant-client
sentence-transformers
pypdf
python-docx
kafka-python
ollama
langgraph
pytest
bcrypt==4.0.1
